*{
  overflow: hidden;
}

.body{

  background: url(https://wallpaperaccess.com/full/2862101.jpg
  ) no-repeat center center/cover ;
      height: 100vh;
      top:0px;
      left:0px;
      width: 100%;
      position: relative;


}

body::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,0.5);
}


.header{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  color: white;
  background-color: rgba(0,0,0,0.5);
  padding: 5px;
  position:absolute;
z-index: 2;
width: 100vw;
}

.header a{
  text-decoration: none;
  color: white;
}

.header img{
  height: 62px;
  padding: 2px;
}

.header h1{
  padding-left: 164px;
}

.nav-items{
  display: flex;
  list-style: none;
  
}

.nav-items li{
  padding: 10px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search {
  width: 21%;
  position: absolute;
  top: 123px;
  display: flex;
  
z-index: 2;
}

.searchTerm {
  width: 100%;
  border: 3px solid #22211ecb;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #bdd1c8;
  background-color: #161818;
}



.searchButton {
  width: 90px;
  height: 34px;
  border: 1px solid #161818;
  background: #9a7f04fa;
  text-align: center;
  color: rgb(58, 46, 46);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.result-container{
  position: absolute;
  top: 170px;
  width: 99%;
  height: 63%;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  position:absolute;
z-index: 2;
}

.each-book-result{
  margin: 10px;
  align-items: center;
  height: 200px;
  width: 135px;
  
}